<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/test.css">
    </head>
    <body>
        <div>
            <form action="/API" method="post">
                IP ADDRESS: <input type="text" name="ipaddress"> 
                <input type="submit" name= "form" value="Submit"/>
            </form>
            
        </div>
        <table>
            {% for key, value in newData.items() %}
               <tr>
                    <th> {{ key }} </th>
                    <td> {{ value }} </td>
               </tr>
            {% endfor %}
        </table>
    </body>
</html>